!!! 5
html
head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/style.css")
    script(src='/mob/wormhole.js')
    script(src='/jq.js')
    script(src='/mustache.js')
    script(src='/mob/accelerometer.js')
    script(src='/mob/core.js')
    script(src='/mob/ui.js')
    script(src='/app.js')
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    title
body
    button.create-server='создать сервер'
    button.find-server='найти сервер'
    div.wrap
