/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

li {
    padding: 5px 0px;
}

.logger {
    margin:10px 5px;
    padding:10px;
    min-height:100px;
    border: 1px dashed black;
}
